<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!--    <meta charset="UTF-8">
    <title>Title</title>-->
    <link href="/css/footer.css" rel="stylesheet">
</head>

<body>
<div th:fragment="footer" class="footer">
    <div class="each-footer">
        <div class="title-each-footer">
            Customer Care
        </div>
        <div class="content-each-footer">
            <a class="hfer-content-footer"> Shopping Guide </a>
            <a class="hfer-content-footer"> Warranty Policy </a>
            <a class="hfer-content-footer"> Transport </a>
            <a class="hfer-content-footer"> Returns & Refunds </a>
        </div>
    </div>
    <div class="each-footer">
        <div class="title-each-footer">
            Follow us
        </div>
        <div class="content-each-footer">
            <a class="hfer-content-footer"> Facebook </a>
            <a class="hfer-content-footer"> Instagram </a>
            <a class="hfer-content-footer"> Linkedln </a>
        </div>
    </div>
    <div class="each-footer">
        <div class="title-each-footer">
            Pay
        </div>
        <div class="content-each-footer">
            <a class="hfer-content-footer"> Cash </a>
            <a class="hfer-content-footer"> VISA </a>
            <a class="hfer-content-footer"> Paypal </a>
            <a class="hfer-content-footer"> Napas </a>
        </div>
    </div>
    <div class="each-footer">
        <div class="title-each-footer">
            About Us
        </div>
        <div class="content-each-footer">
            <a class="hfer-content-footer"> Introduction to TRUONGWF </a>
            <a class="hfer-content-footer"> Privacy Policy </a>
            <a class="hfer-content-footer"> Flash Sales </a>
            <a class="hfer-content-footer"> Recruitment </a>
        </div>
    </div>
</div>

</body>
</html>