.our-journey{
    width: 80%;
    margin: auto;
    border: white 1px solid;
    height: 800px;
}
.each-our-journey{
    display: flex;
    flex-direction: row;
    height:25% ;
    border: yellow 1px solid;
}
.grid1{
    height: 100%;
    width:40%;
    border: blue 1px solid;
    display: flex;
    flex-direction: row-reverse;
}
.grid2{
    height: 100%;
    width:20%;
    border: blue 1px solid;

}
.grid3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width:40%;
    border: blue 1px solid;
    cursor: pointer;
}
.grid3:hover{
    background: rgb(255,255,255,0.3);
}