<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <div class="col-second">
        <div>
            <label>UserName</label>
        </div>
        <div>
            <input ></input>
        </div>
        <div>
            <label>passWord</label>
        </div>
        <div>
            <input> </input>
        </div>
        <div>
            <label>Email</label>
        </div>
        <div>
            <input> </input>
        </div>
        <div>
            <label>Phone</label>
        </div>
        <div>
            <input> </input>
        </div>
    </div>


</body>
</html>