<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <div class="col-second">
        <form  th:action="@{/Signup}" method="post" th:object="${SignUpInfo}" >
            <h1 class="form-heading">Signup</h1>
            <input class="form-input" th:type="text" th:field="*{userName}" th:placeholder="UserName">
            <input class="form-input" th:type="text" th:field="*{passWord}" th:placeholder="Password">
<!--            <input class="form-input" th:type="text" th:field="*{passWord}" th:placeholder="Retype Password">-->
            <input class="form-input" th:type="text" th:field="*{email}" th:placeholder="Email">
            <input class="form-input" th:type="text" th:field="*{fullName}" th:placeholder="Email">
            <button class="form-submit" > submit </button>
        </form>
    </div>


</body>
</html>